{# Load the tag library #}
{% extends 'sicherheitsrisiko/base.html' %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}

{% block content %}
    <div class="container-fluid">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>

          <hr class="mt-2 mb-5">

          <div class="row text-center text-lg-left">
        {% for picture in pictures %}


            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ picture.thumbnail.url }}" alt="">
              </a>
            </div>
    {% endfor %}
          </div>
    </div>
{% endblock %}